/* Nav Bar CSS */


/* Header CSS */



/* Section CSS */



/* About Section CSS */



/* Portfolio Item CSS */
.pfp{
  width: 50%;
  height: 110%;
  border-radius: 50%;
}

/* Footer CSS */



/* Button CSS */



/*Outline Red Border for testing purposes*/
*{
  border-style: solid;
  border-color: red;
  border-width: 1px;
}